.navbar {
    height: 70px;
    margin: 0;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.links {
    margin-right: 30px;
}

.links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
}